@import "mixin";
@import "variable";
 .containerC{
    position: relative;
    #back{
        @include boxStyle(100%,100vh,0);
        position: fixed;
    }
    .container2{
        position: absolute;
        top: 0;
        right: 0;
 }
 }
 
.topContainer{
    padding:15px;
    color:$color5;
    text-align: center;
    input{
        @include boxStyle(260px,40px,20px);
        border: 2px solid $color6;
        @include textStyle(17px,$color6,bold);
        outline: none;
        margin-top: 25px;
        padding:5px 20px;
        background-color: transparent;
         &:focus{
             box-shadow:0 0 2px 2px $color5
         }
    } 
}
.bottomContainer{
    text-align: center;
    @include boxStyle(650px,500px,0);
    border-top:4px solid $color4;  
    margin:20px 30px;
    #loader{
        @include boxStyle(70px,70px,0);
        margin:40px;
         
    }
    #found{
        color: $color1;
        padding: 30px;
    }
    .spanContainer{
        display: flex;
        justify-content: space-between;
        @include boxStyle(650px,50px,0);
        border-bottom:  4px solid $color4;
        color: $color5;
        .left{
          display: flex;
          justify-content: space-between;
          align-items: center;
          span{
            width: 65px;
          }
        }
        .right{
            width:75%;
            display: flex;
            justify-content: space-between;
            align-items: center;
             span{
                width: 90px;
             }
        }
 
    }
}